body {font-family:sans-serif;
background-color: #ADAEAE;}
h2 {
  text-align: center;
}

p {
font-size: 1.2em;
font-weight: 500;
margin:0.2em 0;
}
button {
margin: 30px auto 0;
padding:10px 20px;
background-color: #99BCC2;
font-size: 1.3em;
cursor:pointer;
/* display:block; */
}
td {
  padding:25px;
  font-size:1.3em;
}
#header {
display: grid;
grid-template-columns: 40% 60%;
/* grid-gap:40px; */
margin: 20px 10px;

}

.triangle {
     color:azure;
   }
